@font-face {
    font-family: "DM Sans";
    src: url('../../../../public/assets/fonts/DM_Sans/DMSans-Regular.ttf');
}

@font-face {
    font-family: "DM Sans Mediun";
    src: url('../../../../public/assets/fonts/DM_Sans/DMSans-Medium.ttf');
}