// Colors
// ----------------------------------------------------------------------------
// Action
$color-action-primary: #25DAC5;
$color-action-secondary: #482BE7;
$color-action-third: #E93A7D;

// Background
$color-background-dark: #2F1893;
$color-background-light: #FFFFFF;

// Real
$color-real-white: #FFFFFF;
$color-real-grey: #EBEAED;
$color-real-heading: #1E0E62;
$color-real-text: rgba(21, 20, 57, 0.4);

// Font
$font-family: 'DM Sans';